# Ignore build results
bin/
obj/

# Rider / VS specific
.vs/
.idea/
*.user
*.suo

# Logs
*.log

# Other
*.cache
*.tmp

# env
.env

#appsetting
**/appsettings.json
**/appsettings.Development.json

#images
OnlineShop.Api/landscape.jpg
OnlineShop.Api/uploads/