# Ignore build results
bin/
obj/

# Rider / VS specific
.vs/
.idea/
*.user
*.suo

# Logs
*.log

# Other
*.cache
*.tmp

# env
.env

#appsetting
/OnlineShop.Api/appsettings.json
/OnlineShop.Api/appsettings.*.json